
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      <%= (typeof title != "undefined" ? title : "Page title") %>
    </title>
    {{ meta }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap" rel="stylesheet">
    <script type="module" src="/_scss/style.js"></script>
    {{ head }}
  </head>
  <body>
    <div class="l-background">

      <%- include('_partials/header'); -%>

      {{ content }}

      <%- include('_partials/footer'); -%>
      <div class="l-leaves__first">
        <img src="../_public/assets/img/leave.png" alt="leave">
      </div>
      <div class="l-leaves__second">
        <img src="../_public/assets/img/leave2.png" alt="leave">
      </div>
  
      <nav class="c-gnavmobile">
        <div class="c-gnavmobile__background">
          <img src="../_public/assets/img/fixed-top.png" alt="leave">
        </div>
        <div class="c-gnavmobile__background">
          <img src="../_public/assets/img/fixed-bottom.png" alt="leave">
        </div> 
        
        <div class="c-gnavmobile__icon">
          <img src="../_public/assets/img/iconmenu-mobile.png" alt="Icon">
        </div>
        
        <ul>
          <li><a href="#">トップ</a></li>
          <li><a href="#">毎日にハッカ油</a></li>
          <li><a href="#">製品情報</a></li>
          <li><a href="#">Q&A</a></li>
          <li><a href="#">ハッカ油コラム</a></li>
          <li><a href="#">ハッカ油ムービー</a></li>
        </ul>
      </nav>
    </div>
   
      {{ script }}
      <script src="/assets/js/main.js"></script>
  </body>
</html>
