/* Header
------------------------------------------------------------*/
.c-header {
    margin: 0 auto;
    display: inline;
    position: relative;

    &__banner {
        margin: 0 auto;
        width: 100%;
        max-width: 1120px;
        padding-top: 100px;

        img:first-child {
            border-radius: 60px;
            width: 1120px;
        }
    }

    &__content {
        position: absolute;
        top: 34.4%;
        left: 29.2%;
        text-align: center;
        line-height: 1;

        h3 {
            font-size: 2.7rem;
            font-weight: 400;
            margin-bottom: 1px;
            letter-spacing: 1.7px;
        }

        img {
            margin-bottom: 12px;
        }

        h4 {
            font-size: 1.7rem;
            letter-spacing: 0.05rem;
            margin-bottom: 30px;
            font-weight: lighter;
        }

        p {
            font-size: 1.7rem;
            letter-spacing: 0.015rem;
            line-height: 1.5;
            margin-bottom: 7px;
        }

        h2 {
            font-size: 3rem;
            font-weight: 400;
            margin-bottom: 42px;
            letter-spacing: 0.3rem;
        }        

        a {
            background-color: #25a989;
            border-radius: 100px;
            padding: 10px 41px;
            color: #fff;
            text-align: center;
            font-size: 2.5rem;
            cursor: pointer;
            letter-spacing: 0.68rem;
        }
    }

    &__droplayer {
        
    }

    &__droplayer1 {
        position: absolute;
        top: 10%;
        left: 27.8%;
    }

    &__droplayer2 {
        position: absolute;
        top: 5.5%;
        left: 57.5%;
    }
    
    &__droplayer3 {
        position: absolute;
        top: 13.7%;
        right: 12.3%;
    }
    
    &__droplayer4 {
        position: absolute;
        top: 72.5%;
        left: 15.3%;
    }
    
    &__droplayer5 {
        position: absolute;
        top: 91.5%;
        left: 28.6%;
    }
    
    &__droplayer6 {
        position: absolute;
        top: 89.5%;
        right: 21.5%;
    }
}
/* Main menu
------------------------------------------------------------*/
.c-gnav {
    width: 190px;
    position: fixed;
    top: 65px;
    left: 0;

    li {
        background: url("./_public/assets/img/nav-bg.png") no-repeat;
        margin-bottom: 15px;
        height: 40px;
        line-height: 44px;
        width: 198px;
        padding: 0 20px;
    }

    a {
        font-size: 1.7rem;
        text-transform: capitalize;
        color: #fff;
    }
}

.c-gnav--icon {
    display: none;
}

.c-gnav--mobile {
    display: none;
}
